// Templates
@use 'colors';

%flex-container-basic-row {
    display: flex;
    flex-flow: row wrap;
}

%flex-container-basic-col {
    display: flex;
    flex-flow: column nowrap;
}

%flex-choices {
    @extend %flex-container-basic-row;
    align-items: center;
    justify-content: center;
}

%yellow-button {
    background-color: colors.$banana-mania;
    color: inherit;
    
    &:hover {
        background-color: colors.$pistachio;
        transition: all 0.2s ease-in;
    }
    cursor: pointer;
}

%main-template {
    @extend %flex-container-basic-col;
    justify-content: center;
    align-items: center;
    height: 94vh;
    h1 {
        &:hover {
            text-shadow: 10px 10px colors.$pistachio;
            color: colors.$shadow-blue;
            transition: all 0.5s ease;
        }
        text-align: center;
        margin: 0.5em 0;
        color: colors.$pistachio;
        filter:brightness(120%);
        text-shadow: 10px 10px colors.$purple-navy;
        font-size: 8em;

    }


    a {
        @extend %yellow-button;
        text-decoration: none;
        padding: 1em;
        border-radius: 3px;
        font-size: x-large;
    }

    // Link (button)
    #start_button {
        @extend a;

        &:hover {
            font-size: xx-large;
            transition: font-size 300ms;
        }

        transition: font-size 300ms;
    }
}
