/* SCSS HEX */
/* SCSS HSL */
/* SCSS RGB */
/* SCSS Gradient */
* {
  margin: 0;
  padding: 0;
}

.flex-container-basic-row, .flex-choices, .navbar, .main .choices, .heart_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.flex-container-basic-col, body, .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.flex-choices, .navbar, .main .choices {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.yellow-button, .navbar a, .main .choices a {
  background-color: #ecdcab;
  color: inherit;
  cursor: pointer;
}

.yellow-button:hover, .navbar a:hover, .main .choices a:hover {
  background-color: #abd27f;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

body {
  background-color: #7783a3;
  font-family: 'IBM Plex Sans', sans-serif;
  min-height: 100vh;
}

.navbar img {
  width: 75px;
  display: inline-block;
}

.navbar a {
  text-decoration: underline;
  padding: 0.5em;
  border-radius: 3px;
  margin: 0.5em;
}

.heart_container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heart_container img {
  padding: 0px 5px;
  max-width: 50px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(69, 72, 114, 0.8);
}

.main h1 {
  text-align: center;
  margin: 0.5em 0;
  color: #abd27f;
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
  font-size: 5em;
}

.main article {
  background-color: #d8cdd5;
  padding: 2em 4em;
  text-align: center;
  margin-bottom: 3em;
}

.main .choices {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main .choices a {
  text-decoration: none;
  padding: 0.5em;
  border-radius: 3px;
  margin: 0.5em;
  -webkit-transition: font-size 300ms;
  transition: font-size 300ms;
}

.main .choices a:hover {
  font-size: large;
  -webkit-transition: font-size 300ms;
  transition: font-size 300ms;
}

@media (max-width: 696px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .navbar img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .navbar a {
    text-align: center;
  }
  .main .choices {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column wrap;
            flex-direction: column wrap;
  }
  .main .choices * {
    margin-top: 3em;
  }
  .main h1 {
    margin: 0 0 0.5em 0;
  }
  .main a {
    margin: 0 0 1em 0;
  }
}
/*# sourceMappingURL=index.css.map */