@use '../../../../css/colors';
@import '../../../../css/templates';

* {
    margin: 0;
    padding: 0;
}

body {
    @extend %flex-container-basic-col;
    background-color: colors.$shadow-blue;
    font-family: 'IBM Plex Sans', sans-serif;
    min-height: 100vh;
}

.navbar {
    @extend %flex-choices;

    img {   
        width: 75px;
        display: inline-block;
    }

    a {
        @extend %yellow-button;
        text-decoration: underline;
        padding: 0.5em;
        border-radius: 3px;
        margin: 0.5em;
    }

}

.heart_container {
    @extend %flex-container-basic-row;
    justify-content: center;
    align-items: center;
    img {
        padding: 0px 5px;
        max-width: 50px;
    }
}

.main {
    @extend %flex-container-basic-col;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    background-color: rgba(colors.$purple-navy, 0.8);

    h1 {
        text-align: center;
        margin: 0.5em 0;
        color: colors.$pistachio;
        filter:brightness(120%);
        font-size: 5em;

    }

    article {
        background-color: rgba(colors.$languid-lavender, 1);
        padding: 2em 4em;
        text-align: center;
        margin-bottom: 3em;
    }

    .choices {
        @extend %flex-choices;
        user-select: none;
        a {
            &:hover {
                font-size: large;
                transition: font-size 300ms;
            }
            @extend %yellow-button;
            text-decoration: none;
            padding: 0.5em;
            border-radius: 3px;
            margin: 0.5em;      
            transition: font-size 300ms;
  
        }

    }

    .input_field {
        width: 20vw;
        padding: 0.5em;
    }

    a {
        @extend %yellow-button;
        padding: 0.5em;
        border-radius: 3px;
        margin: 0.5em;
    }    


}

@media (max-width: 696px) {
    .navbar {
        flex-flow: column wrap;
        align-items: stretch;   
        img {
            align-self: center;
        }
        a {
            text-align: center;
        }
    }
    
    .main {
        .choices {
            flex-direction: column wrap;
            * {
                margin-top: 3em;
            }
        }
        h1 {
            margin: 0 0 0.5em 0;
        }
        a {
            margin: 0 0 1em 0;
        }
    }
}